<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="form-container">
        <div class="form-head">
            <h1>Edit <%= accommodation.name %> </h1>
        </div>
        <form action="/accommodations/<%= accommodation._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <input class="form-control col" type="text" name="name" value="<%= accommodation.name %>" required>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="address" name="address" value="<%= accommodation.address %>" required>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="tel" name="phone" value="<%= accommodation.phone %>" required>
            </div>
                
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="file" id="file" class="custom-file-input col" required accept="image/png">
                    <label for="file" class="custom-file-label">Choose Accommodation Image</label>
                </div>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="email" name="email" value="<%= accommodation.email %>" required>
            </div>
            <div class="form-group row">
                <textarea class="form-control col" name="description" cols="30" rows="10"><%= accommodation.description%></textarea>
            </div>
            <div class="form-group row">
                <input class="form-control" type="submit" value="Submit">
                <input class="form-control" type="submit" value="Reset">
            </div>
            
        </form>
    </div>
</div>


<%-include('../partials/footer.ejs') %>