<%- include('../partials/header') %>  

<div class="container">
    <div class="show-container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="/image1.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4 > <%= accommodation.name %> </h4>
                    <p><%= accommodation.description %></p>
                    <p><i class="fas fa-phone-alt"></i> <%= accommodation.phone %></p>
                    <p><i class="fas fa-envelope"></i> <a href="#"><%= accommodation.email %></a> </p>

                    <div class="show-container-buttons">
                        <input class="apply" type="submit" value="Add Administrator">
                        <form action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
                            <input  class="delete-accommodation-button" type="submit" value="Delete">
                        </form>
                    </div>
                    
                </div>
            </div> 
    </div>
    <div class="card card-body residences-container">
        <h4> Available residences from <%= accommodation.name %> </h4>
            <a href="/accommodations/<%= accommodation._id %>/residences/new">
                <input class="float-right new-residence-button" type="submit" value="Add New Residence">
            </a>
        <hr>

       <% accommodation.residences.forEach(function(residence){ %>
        
            <div class="residence">
                <strong> <%= residence.name %> - R<%= residence.price %> </strong>
                
                <form action="/accommodations/<%= accommodation._id %>/residences/<%= residence._id %>" method="get">
                    <input class="float-right view-residence-button" type="submit" value="View">
                </form>
                
                <p><%= residence.type %> room </p>
            </div>
       
       <% }) %>
        
    </div>
</div>
<%- include('../partials/footer') %>    