<%- include('../partials/header') %>  

<div class="container">
    <div class="show-container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="data:accommodation/<%=accommodation.image.contentType%>;base64, 
                    <%=accommodation.image.data.toString('base64')%>" class="card-img-top" alt="..."> 
                    <!-- <img class="img-thumbnail" src="/image1.jpg" alt=""> -->
                </div>
                <div class="col-md-6">
                    <div class="show-content">
                        <h4 > <%= accommodation.name %> </h4>
                    <p>
                        <%= accommodation.description %>
                    </p>
                    <p>
                        <i class="fas fa-phone-alt"></i> <%= accommodation.phone %>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i> <a href="#"><%= accommodation.email %></a>
                    </p>
                    <p>
                        <%= accommodation.administrator %>
                    </p>
                    </div>
                    
                    <% if(currentUser && currentUser.isAdmin){ %>
                        <div class="show-container-buttons">
                            <form action="/accommodations/<%= accommodation._id %>/newAdmin">
                                <input class="add-admin-button" type="submit" value="Add Administrator">
                            </form>
                            
                            <form action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
                                <input  class="delete-accommodation-button" type="submit" value="Delete">
                            </form>
                        </div>
                    <% } %>
     
                </div>
            </div> 
    </div>
    <div class="card card-body residences-container">
        <h4> Available residences from <%= accommodation.name %> </h4>
        <% if(currentUser && currentUser.isAdmin){ %>
            <a href="/accommodations/<%= accommodation._id %>/residences/new">
                <input class="float-right new-residence-button" type="submit" value="Add New Residence">
            </a>
        <% } %>
          <form action="" method="get">
              <div class="form-group">
                  <div class="row">
                    <input class="form-control col-md-4" type="search" name="filter" id="filter" placeholder="Enter your budget price">
                    <input class="form-control col-md-4" type="submit" value="search">
                  </div>
                
              </div>
             
          </form>
        <hr>

       <% accommodation.residences.forEach(function(residence){ %>
            <div class="residence">
                <strong> <span class="res-name"><%= residence.name %></span> - <span class="res-price">R<%= residence.price %></span>  </strong>
                
                <form action="/apply" method="GET">
                    <input class="float-right view-residence-button" type="submit" value="Apply">
                </form>
                <form action="/accommodations/<%= accommodation._id %>/residences/<%= residence._id %>" method="get">
                    <input class="float-right view-residence-button" type="submit" value="View">
                </form>
             
                <strong>
                    <p><%= residence.type %> room - <span class="res-status">Available</span></p>
                </strong>
                
            </div>
       
       <% }) %>
        
    </div>
</div>
<%- include('../partials/footer') %>    